.fbPhotosNullstate{margin:60px auto}.fbPhotosNullstate .imageCell{padding-left:60px}.fbPhotosNullstate .textCell{height:32px}
.uiStreamSecondaryTime .img{bottom:-2px;position:relative;vertical-align:top}.withActorSelector .uiStreamSecondaryTime .img{margin-top:6px}

#bootloader_kJPLc{height:42px;}.bootloader_kJPLc{display:block!important;}